<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>CRUD - UTS</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/admin">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/about-app">
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label>About App</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onExitApp()">
            <ion-icon name="close-circle" slot="start"></ion-icon>
            <ion-label>Exit</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
